.UiControls {
  align-items: center;
  display: flex;
  height: 33%;
  justify-content: center;
  left: 33%;
  position: absolute;
  top: 0;
  width: 33%;
}


.UiControlsArrow > div {
  border-bottom: 1em solid white;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  height: 0;
  position: absolute;
  width: 0;
}

.UiControlsArrow > div.x_void__y_false {
  /* initial/up */
  cursor: n-resize;
  margin-top: -3em;
}

.UiControlsArrow > div.x_true__y_false {
  /* right+up */
  transform: rotate(45deg);
  cursor: ne-resize;
  margin-top: -2em;
  margin-left: 2em;
}

.UiControlsArrow > div.x_true__y_void {
  /* right */
  transform: rotate(90deg);
  cursor: e-resize;
  margin-left: 3em;
}

.UiControlsArrow > div.x_true__y_true {
  /* right+down */
  transform: rotate(135deg);
  cursor: se-resize;
  margin-left: 2em;
  margin-top: 2em;
}

.UiControlsArrow > div.x_void__y_true {
  /* down */
  transform: rotate(180deg);
  cursor: s-resize;
  margin-top: 3em;
}

.UiControlsArrow > div.x_false__y_true {
  /* left+down */
  transform: rotate(225deg);
  cursor: sw-resize;
  margin-left: -2em;
  margin-top: 2em;
}

.UiControlsArrow > div.x_false__y_void {
  /* left */
  transform: rotate(270deg);
  cursor: w-resize;
  margin-left: -3em;
}

.UiControlsArrow > div.x_false__y_false {
  /* left+up */
  transform: rotate(315deg);
  cursor: nw-resize;
  margin-left: -2em;
  margin-top: -2em;
}


.UiControlsDirection {
  height: 2em;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2em;
}

.UiControlsDirection .direction {
  border-bottom: 1em solid yellow;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}
