.UiCommandline input {
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255,255,255, 0.1);
  border-radius: 0;
  color: lightgoldenrodyellow;
  letter-spacing: 0.15rem;
  cursor: text;
  font-family: monospace;
  font-size: 1rem;
  font-weight: normal;
  outline: 0;
  padding: 0.5em;
  text-align: center;
  text-shadow: 0 0 0.1rem orange, 0 0 0.1rem orange;
  text-transform: uppercase;
  width: 100%;
}

.UiCommandline input:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

.UiCommandline input:focus {
  background-color: rgba(255, 255, 255, 0.03);
}

.UiCommandline input::selection {
  background: orange;
}
