.UiLogs {
  /*left: 0;*/
  text-align: center;
  /*position: fixed;*/
  /*padding-top: 4em;*/
  /*top: 33%;*/
  /*width: 100%;*/
}

.UiLogs .logs div {
    padding: .5em 0 0;
}

.UiLogs .logs div:nth-child(1) {
    font-size: 1.5em;
}

.UiLogs .logs div:nth-child(2) {
    font-size: 1.4em;
}

.UiLogs .logs div:nth-child(3) {
    font-size: 1.3em;
}

.UiLogs .logs div:nth-child(4) {
    font-size: 1.2em;
}

.UiLogs .logs div:nth-child(5) {
    font-size: 1.1em;
}

.UiLogs .UiLogsTabs {
    background-color: black;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.UiLogs .UiLogsTabs li {
    display: inline;
    margin: 1px;
    padding: 0;
}

.UiLogs .UiLogsTabs li span {
    background-color: black;
    padding: 0 10px;
}

.UiLogs .UiLogsTabs li span:hover {
    background-color: white;
    color: black;
}

.UiLogs .UiLogsTabs li.active span {
    background-color: white;
    color: black;
    font-weight: bold;
}
