.UiLogs {
  padding: 1em;
  text-align: center;
}

.UiLogs .logs div {
  font-size: 1.2rem;
  padding: .5em 0 0;
}

.UiLogs .UiLogsTabs {
  background-color: black;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.UiLogs .UiLogsTabs li {
  display: inline;
  margin: 1px;
  padding: 0;
}

.UiLogs .UiLogsTabs li span {
  background-color: black;
  padding: 0 10px;
}

.UiLogs .UiLogsTabs li span:hover {
  background-color: white;
  color: black;
}

.UiLogs .UiLogsTabs li.active span {
  background-color: white;
  color: black;
  font-weight: bold;
}
