.UiRadar {
  border: 1px solid rgba(255,255,255, 0.1);
  cursor: none;
  height: 30%;
  position: absolute;
  right: 1em;
  /*top: 1em;*/
  width: 30%;
}

.UiRadarMap {
  position: relative;
  width: 100%;
  height: 100%;
}

.UiRadarMapDot {
  height: 1%;
  position: absolute;
  width: 1%;
}

.UiRadarMapDot.destination {
  background-color: yellow;
}

.UiRadarMapDot.position {
  background-color: white;
}

.UiRadarMapDot.ship {
  background-color: rgba(255, 0, 0, 0.15);
}

.UiRadarMapDot.signal {
  background-color: blue;
}

.UiRadarMapDot.station {
  background-color: green;
}


.UiRadarMapLatitude {
  position: absolute;
}
