body {
  background-color: black;
}

.App {
    bottom: 0;
    color: white;
    cursor: crosshair;
    font-family: monospace;
    font-size: 0.7em;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
