body {
  background-color: gray;
}
.App {
  background-color: black;
  color: white;
  cursor: crosshair;
  font-family: monospace;
  font-size: 0.7em;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.self {
  height: 2em;
  left: 50%;
  margin-left: 1em;
  margin-top: .5em;
  opacity: .1;
  position: absolute;
  top: 50%;
  width: 2em;
}
.self .compass {
  border-bottom: 1em solid yellow;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  height: 0;
  z-index: -1;
  width: 0;
}
.self.full-speed {
  opacity: 1;
  z-index: 1;
}
.self.hide {
  display: none;
}

.Console {
  height: 50%;
  left: 0;
  top: 0;
  width: 50%;
}
.Console .tabs {
  background-color: black;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.Console .tabs li {
  display: inline;
  margin: 1px;
  padding: 0;
}
.Console .tabs li span {
  background-color: black;
  padding: 0 10px;
}
.Console .tabs li span:hover {
  background-color: white;
  color: black;
}
.Console .tabs li.active span {
  background-color: white;
  color: black;
  font-weight: bold;
}
.Console .log {
  height: 100%;
  overflow-y: auto;
  padding-top: 1.5em;
  width: 100%;
  z-index: 1;
}

.Inventory {
  top: 75%;
  font-size: 1.2em;
  height: 25%;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  width: 50%;
}
.Inventory .bags {
  padding: 1em;
}
.Inventory .bags div {
  background-color: rgba(255,255,255, .1);
  border-bottom: 1px solid black;
  padding: .1em;
}

.Radar {
  cursor: none;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.RadarUiReadout {
  margin-left: 3px;
}
.RadarUiReadout .name {
  text-transform: capitalize;
}
.RadarControls {
  align-items: center;
  display: flex;
  height: 25%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 50%;
  width: 50%;
}
.RadarArrow > div {
  border-bottom: 1em solid white;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  height: 0;
  position: absolute;
  width: 0;
}
.RadarArrow > div.x_null__y_false { margin-top: -3em; } /* initial/up */
.RadarArrow > div.x_true__y_false { margin-top: -2em; margin-left: 2em; } /* right+up */
.RadarArrow > div.x_true__y_null { margin-left: 3em; } /* right */
.RadarArrow > div.x_true__y_true { margin-left: 2em; margin-top: 2em; } /* right+down */
.RadarArrow > div.x_null__y_true { margin-top: 3em; } /* down */
.RadarArrow > div.x_false__y_true { margin-left: -2em; margin-top: 2em; } /* left+down */
.RadarArrow > div.x_false__y_null { margin-left: -3em; } /* left */
.RadarArrow > div.x_false__y_false { margin-left: -2em; margin-top: -2em; } /* left+up */


.Overview {
  bottom: 0;
  height: 50%;
  overflow-y: auto;
  position: absolute;
  right: 0;
  text-align: left;
  text-transform: capitalize;
  width: 50%;
}
.Overview table tr.is-hostile td {
  color: red;
}
.Overview table tr.is-local td {
  color: green;
}
.Overview table tr.is-destination td {
  color: yellow;
}
.Overview table th {
  text-decoration: underline;
}
.Overview table td {
  padding: 1px 3px;
  text-overflow: ellipsis;
}
