.UiResources {
  bottom: 0;
  font-size: 1.5em;
  left: 0;
  position: fixed;
  text-transform: capitalize;
  width: 100%;
}

.UiResources ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.UiResources ul li {
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
