.UiResources {
  display: inline-block;
  text-transform: capitalize;
}

.UiResources ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.UiResources ul li {
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
