.UiOverview {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  width: 33%;
}

.UiOverview table {
  border-collapse: collapse;
}

.UiOverview table thead th:first-of-type {
  width: 100%;
}

.UiOverview table thead th,
.UiOverview table tbody td {
  padding: 0.2em 0.4em;
  text-overflow: ellipsis;
}

.UiOverview table tbody tr.is-hostile {
  background-color: rgba(255,0,0, 0.15);
  color: red;
}

.UiOverview table tbody tr.is-destination {
  background-color: rgba(255,255,0, 0.15);
  color: yellow;
}

.UiOverview table tbody tr:hover {
  background-color: rgba(255,255,255, 0.15);
}
